
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" >
	<head>
		<meta http-equiv="content-type" content="text/html" charset="utf-8" />
		<title>archives</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="" >
		<link rel="StyleSheet" href="/styles/archives.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
		<script src="https://secure.exportkit.com/cdn/js/ek_googlefonts.js?v=6"></script>
		<!-- Add your custom HEAD content here -->


	</head>
	<body>
		<div id="content-container" >
			<div id="page_archives_ek1"  >
				<div id="_bg__archives_ek2"  ></div>
				<div id="rectangle_3"  ></div>
				<div id="rectangle_3_ek1"  ></div>
				<div id="rectangle_13"  >
					<%spams.forEach(function(spam){%>
						<ul>
							<%=spam.content %>
							<hr>
						</ul>
					<%}) %>
				</div>
				<div id="rectangle_12"  ></div>
				<img src="skins/image_25.png" id="image_25" />
				<img src="skins/image_27.png" id="image_27" />
				<img src="skins/image_30.png" id="image_30" />
				<div id="rectangle_16"  ></div>
				<a id="_rectangle_17_link" href="/stories/post" >
				<div id="_rectangle_17"  ></div>
				</a>
				<img src="skins/image_44.png" id="image_44" />
				<div id="rectangle_18"  ></div>
				<img src="skins/image_40.png" id="image_40" />
				<img src="skins/image_44_ek1.png" id="image_44_ek1" />

			</div>
		</div>
	</body>
</html>