<!-- 
/*
 *	This content is generated from the PSD File Info.
 *	(Alt+Shift+Ctrl+I).
 *
 *	@desc 		
 *	@file 		rant
 *	@date 		Sunday 19th of February 2023 12:13:19 PM
 *	@title 		Page 1
 *	@author 	
 *	@keywords 	
 *	@generator 	Export Kit v1.3.figma
 *
*/
 -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" >
	<head>
		<meta http-equiv="content-type" content="text/html" charset="utf-8" />
		<title>rant</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="" >
		<link rel="StyleSheet" href="/styles/rant.css" />
		<script src="https://secure.exportkit.com/cdn/js/ek_googlefonts.js?v=6"></script>
		<!-- Add your custom HEAD content here -->

	</head>
	<body>
		<div id="content-container" >
			<div id="page_rant_ek1"  >
				<div id="_bg__rant_ek2"  ></div>
				<div id="rectangle_3"  ></div>
				<div id="rectangle_3_ek1"  ></div>
				<div id="rectangle_12"  ></div>
				<img src="skins/image_25.png" id="image_25" />
				<img src="skins/image_26.png" id="image_26" />
				<div id="rectangle_5"  ></div>
				<div id="rectangle_4"  ></div>
				<img src="skins/image_36.png" id="image_36" />
				<div id="rectangle_13"  >
					<form action="/stories/post" method="POST">
						<div>
							<input type="text" name="content" style="top:601px;left:306px;width:80px;height:390px;font-size:15px;width:330px;background:rgba(168,191,211,1);">
						</div>
					</form>
				</div>
				<img src="skins/image_31.png" id="image_31" />
				<div id="rectangle_15"  ></div>
				<img src="skins/image_42.png" id="image_42" />
			</div>
		</div>
	</body>
</html>