
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" >
	<head>
		<meta http-equiv="content-type" content="text/html" charset="utf-8" />
		<title>spam</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="" >
		<link rel="StyleSheet" href="/styles/spam.css" />
		<script src="https://secure.exportkit.com/cdn/js/ek_googlefonts.js?v=6"></script>
		<!-- Add your custom HEAD content here -->

	</head>
	<body>
		<div id="content-container" >
			<div id="page_spam_ek1"  >
				<div id="_bg__spam_ek2"  ></div>
				<div id="rectangle_3"  ></div>
				<div id="rectangle_3_ek1"  ></div>
				<div id="rectangle_14"  ></div>
				<div id="rectangle_15"  ></div>
				<img src="skins/image_24.png" id="image_24" />
				<div id="rectangle_113"  >
					<!-- Uncompleted tasks -->
					<ul class="todo" id="todo">
						right
					</ul>

					<!-- Completed tasks -->
					<ul class="todo" id="completed">
						wrong
					</ul>
				</div>
				<div id="rectangle_17"  ></div>
				<div id="rectangle_18"  ></div>
				<div id="rectangle_5"  ></div>
				<img src="skins/image_32.png" id="image_32" />
				<img src="skins/image_37.png" id="image_37" />
				<img src="skins/image_43.png" id="image_43" />
				<img src="skins/image_27.png" id="image_27" />

			</div>
		</div>
	</body>
</html>