
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" >
	<head>
		<meta http-equiv="content-type" content="text/html" charset="utf-8" />
		<title>tictactoe</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="" >
		<link rel="StyleSheet" href="/styles/tictactoe.css" />
		<script src="https://secure.exportkit.com/cdn/js/ek_googlefonts.js?v=6"></script>
		<!-- Add your custom HEAD content here -->

	</head>
	<body>
		<div id="content-container" >
			<div id="page_tictactoe_ek1"  >
				<div id="_bg__tictactoe_ek2"  ></div>
				<div id="rectangle_3"  ></div>
				<div id="rectangle_3_ek1"  ></div>
				<div id="rectangle_18"  ></div>
				<img src="skins/image_14.png" id="image_14" />
				<div id="rectangle_19"  ></div>
				<img src="skins/image_22.png" id="image_22" />
				<img src="skins/image_29.png" id="image_29" />
				<div id="rectangle_5"  ></div>
				<img src="skins/image_34.png" id="image_34" />
				<img src="skins/rectangle_4.png" id="rectangle_4" />
				<img src="skins/image_39.png" id="image_39" />
				<div id="rectangle_20"  >
					<center>Can the AI beat you?</center><br>
					<table>
						<tr>
							<td class="cell" id="0"></td>
							<td class="cell" id="1"></td>
							<td class="cell" id="2"></td>
						</tr>
						<tr>
							<td class="cell" id="3"></td>
							<td class="cell" id="4"></td>
							<td class="cell" id="5"></td>
						</tr>
						<tr>
							<td class="cell" id="6"></td>
							<td class="cell" id="7"></td>
							<td class="cell" id="8"></td>
						</tr>
					</table>
					<br>
					<div class="endgame">
							<div class="text"></div>
							<!-- <button onclick="startGame()"></button> -->
					</div>
					</div>
					<script src="/scripts/script.js"></script>
				</div>

			</div>
		</div>
	</body>
</html>